/* CSS Reset (mine) */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
  cursor: pointer;
  border-color: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for future compatibility */
}

/* Main styles */
:root {
  --clr-primary: #6943ff;
  --clr-bg-1: #1f2937;
  --clr-text: #ffffff;
  --clr-text2: #3d3d3d;
  --clr-subheading: #ccc1ff;
  --clr-bg-2: #273549;
  --clr-border: #b295ff;
}

body {
  min-width: 280px;
  color: var(--clr-text);
}

.container {
  max-width: 550px;
  margin-inline: auto;
}

.converter {
  /* margin-top: 50px; */
  border: 1px solid;
}

.converter__input {
  background: var(--clr-primary);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 32px 50px;
}

.converter__title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -3%;
  font-weight: 800;
}

.converter__subtitle {
  margin-bottom: 20px;
  font-size: 16px;
}

/* input field */
.converter__value {
  text-align: center;
  box-sizing: content-box;
  line-height: 22px;
  max-width: 120px;
  background: none;
  color: inherit;
  font-size: 32px;
  font-weight: 800;
  border: 2px solid var(--clr-border);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.converter__value::placeholder {
  font-style: italic;
  color: #d8d8d8;
  font-size: 22px;
  line-height: 22px;
  transform: translateY(-5px);
}

.converter__submit-btn {
  font-size: 16px;
  font-weight: 500;
  color: var(--clr-text2);
  background: var(--clr-text);
  border: 1px solid var(--clr-text);
  border-radius: 5px;
  padding: 10px 28px;
}

.converter__output {
  background: var(--clr-bg-1);
  text-align: left;
  padding: 35px 25px;
}

.converter__item {
  background: var(--clr-bg-2);
  border-radius: 5px;
  padding: 10px 16px;
  margin-bottom: 24px;
}

.converter__item:last-child {
  margin: 0;
}

.converter__item-heading {
  font-weight: 600;
  font-size: 14px;
  color: var(--clr-subheading);
  margin-bottom: 10px;
}

.converter__item-result {
  font-size: 14px;
}
