/* CSS Reset (mine) */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
  cursor: pointer;
  border-color: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for future compatibility */
}

/* Main styles */
:root {
  --clr-primary: #6943ff;
  --clr-bg: #1f2937;
  --clr-text: #ffffff;
  --clr-subheading: #ccc1ff;
  --clr-bg-secondary: #273549;
}

.container {
  max-width: 550px;
  margin-inline: auto;
}
